body {
    background-image: url("image/mountain.jpg");
}
#login-container {
    margin: 10% 35% 10% 35%;
    padding: 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#username,
#pwd {
    width: 100%;
    padding: 1% 1%;
    margin: 2% 0%;
    border: none;
    border-bottom: 0.5px solid white;
    color: white;
    background-color: transparent;
}

#login-button {
    width: 100%;
    background-color: #ef547e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 25px 2px;
    cursor: pointer;
}

h4 {
    text-align: center;
    color: white;
}